/* ======================================
   Title & Text Section
======================================= */
.text h1 {
  color: tomato;
  font-weight: 500;
  margin: 0;
}

.text p {
  margin-top: 5px;
  line-height: 1.5;
  color: #333;
}
.food-list {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  overflow-x: scroll;
  scroll-behavior: smooth;

  text-align: center;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}

.Food-active {
  border: 5px solid tomato;
  border-radius: 70px;
  transition: 0.3s ease;
}
.menu p{
  color: #333;
}
.horizontal {
  margin-top: 20px;
  height: 5px;
  border: none;
  background-color: rgb(213, 207, 207);
  border-radius: 5px;
}
@media (max-width:450px) {
  .text h1 {
  font-weight: 500;
  margin: 0;
  font-size: 10px;
}
.food-list {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  gap: 2px;
}
.menu img {
  width: 30px ;
}
.Food-active {
  border: 5px solid tomato;
  border-radius: 70px;
  transition: 0.3s ease;
}

.horizontal {
  margin-top: 10px;
  height: 3px;
  border-radius: 2px;
}
.Food-active {
  border: 1px solid tomato;
}
}
