
.food-items {
  margin-top: 80px;
}
.food-item:hover {
  box-shadow: 5px 20px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}
.food-items h1{
  font-size: 30px;
  color: tomato;
}
.food-grid-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 10px;
}
.food-item-list {
  padding: 3px 5px;
}

.food-name {
  color: black;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px;
}
.food-item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 8px 0;

  animation: fadeIn 1s ease;
}

.food-item-count p {
  font-weight: 600;
  color: #e74646;
}

.add-dispaly {
  margin-top: 10px;
  animation: fadeIn 2s ease;
}

.price {
  color: #ff6f61;
  font-weight: 700;
}
.buttton {
  margin: 10px 0;
}

/* Main Add Button */
.btn {
  background-color: #ff6f61;
  color: white;

  border: none;
  border-radius: 4px;

  padding: 8px 12px;

  cursor: pointer;
  font-weight: 600;

  transition: 0.3s ease;
}

.btn:hover {
  opacity: 0.85;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@media (max-width:450px){
  .food-items {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
  }

  .food-items h1{
    font-size: 10px;
    color: tomato;
  }

  .food-grid-display {
    margin-left: 100px;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 10px;
  }

  .food-item-list {
    padding: 3px 5px;
  }

  .food-name {
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 8px;
  }

  .food-item-count  {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 4px 0;            /* FIXED */
    gap: 3px;
  }

  .counter{
    width: 40px;              /* FIXED */
  }

  .food-item-count p {
    font-weight: 600;
    color: #e74646;
  }

  .add-display {              /* FIXED CLASS NAME */
    margin-top: 10px;
    max-width: 30px;
  }

  .price {
    font-size: 10px;
  }

  .buttton {
    margin: 5px 0;
  }

  .btn {
    border-radius: 4px;
    padding: 3px 8px;
    font-weight: 600;
    font-size: 7px;
  }
}

