.order-page{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 20px;
}
.order-page-info{
  display: flex;
  justify-content: space-between;
}
.personal-info{
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 20px;
}
.personal-info h1, .payment-method h2{
  color: tomato;
  margin-bottom: 10px;
}
.name-info input, .address-info input{
width: 80%;
outline-color: tomato;
margin-bottom: 10px;
border: 1px solid tomato;
padding: 5px 10px;
}
.city-info input{
  padding: 5px 10px;
  outline-color: tomato;
  background: rgb(222, 222, 227);
  border: 1px solid tomato;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#phone{
  width: 90%;
  outline-color: tomato;
  border: 1px solid tomato;
  padding: 5px 10px;
  margin: 10px 0;
}