.footer-container{
background-color: #141435;
padding: 10px 40px;
padding-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
align-items: center;
color: white;
font-weight: 500;
height:50vh;
margin: auto;
}
.containerd{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.right-section-footer{
  width: 450px;
}
.right-section-footer img{
  width: 80px;
  cursor: pointer;
  background: transparent;
  border-radius: 100px;
}
.right-section-footer p{
  margin-top: 10px;
  font-size: 15x;
}
.social-media ul{
  display: flex;
  list-style: none;
  gap: 15px;
  margin-top: 10px;
}
.social-media ul li img{
  width: 25px;
  cursor: pointer;
}
.social-media ul li img:hover{
  transform: scale(1.1);
}
.middle-section-footer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.middle-section-footer h2, .addres h2{
  margin-bottom: 15px;
  color: tomato;
  margin-top: 15px;
}
.middle-section-footer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copyright{
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}
.addres{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addres p{
  font-size: 15px;
}
@media (max-width:450px) {

  .footer-container{
    padding: 0 10px;
    padding-bottom: 5px;
    height: auto;               
  }

  .containerd{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;                   
  }

  .right-section-footer{
    width: 55px;
  }

  .right-section-footer img{
    width: 22px;
    border-radius: 100px;
  }

  .right-section-footer p{
    margin-top: 5px;
    font-size: 8px;              
  }

  .social-media ul{
    display: flex;
    gap: 6px;
    margin-top: 3px;
  }

  .social-media ul li img{
    width: 12px;
  }

  .middle-section-footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .middle-section-footer h2,
  .addres h2{
    margin-bottom: 2px;
    margin-top: 5px;
    font-size: 10px;           
  }

  .middle-section-footer ul{
    gap: 3px;
    font-size: 8px;             
  }

  .copyright{
    text-align: center;
    margin-top: 10px;
    font-size: 8px;            
  }

  .addres{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .addres p{
    font-size: 8px;           
  }
  .text-area p{
    display: none;
  }
}
