/* Background */
body {

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Main Container */
.Containered {  
  background: url('../../assets/LOgo3.jpg') center/cover no-repeat;
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease;
}


/* Form Box */


h1, h2 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.inputs {
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid white;
  padding: 20px 30px;
}
.logo-name{
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.logo-name img{
  width: 50px;
  border-radius: 60px;
  background: transparent;
}
.inputs input {
  width: 80%;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid tomato;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}
.inputs input:focus {
  border-color: black;
}

.login-btn {
  width: 100px;
  padding: 12px;
  background-color: tomato;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  opacity: 0.9;
}
.switch {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
}
.terms input{
  width: 30px;
}
.terms span {
  font-size: 16px;
  font-weight: 500;
  color:white;
}

.go-to-login {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.go-to-login p {
  font-weight: 600;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeBg {
  from { opacity: 0; }
  to { opacity: 1; }
}
@media (max-width:450px) {
  .Containered {
  width: 90%;
  max-width: 450px;
}
}