.app{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 20px;
  box-sizing: border-box;
  scroll-behavior:smooth;
}
@media (max-width:450px) {
  .app{
width: 100%;
  padding: 3px 10px;
 
}
}