.food-list {
  padding: 20px;
}

.food-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

}

.food-card {
 justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.food-card:hover {
  transform: translateY(-5px);
}

.food-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.food-card h2 {
  margin: 10px 0 5px;
}

.desc {
  font-size: 14px;
  color: #555;
}

.category {
  font-size: 13px;
  color: #777;
}

.price {
  font-weight: bold;
  color: #27ae60;
  margin-top: 5px;
}

.loading {
  text-align: center;
  margin-top: 50px;
}